<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://35.246.149.248:5432/postgres</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <mapping class="pl.lodz.it.sitodruk.model.mok.UserEntity"/>
        <mapping class="pl.lodz.it.sitodruk.model.mok.UserAccessLevelEntity"/>
        <mapping class="pl.lodz.it.sitodruk.model.moz.AddressEntity"/>
        <mapping class="pl.lodz.it.sitodruk.model.mop.CategoryEntity"/>
        <mapping class="pl.lodz.it.sitodruk.model.moz.OrderEntity"/>
        <mapping class="pl.lodz.it.sitodruk.model.mop.ProductEntity"/>
        <mapping class="pl.lodz.it.sitodruk.model.moz.OrderStatusEntity"/>
        <mapping class="pl.lodz.it.sitodruk.AddressEntity"/>
        <mapping class="pl.lodz.it.sitodruk.LoginDataEntity"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>